<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>SETTINGS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >

      <ion-content>
          <ion-card color="dark">
            <!-- Only for drivers -->
            <div id= "ratingDriver" *ngIf="userService.userType === 'driver'">
                  <ion-item>
                      <ion-label color="warning">
                        Your rating
                        <p>{{this.rating}}</p>
                      </ion-label>
                    <ion-icon name="star" color="warning" slot="start"></ion-icon>
                    </ion-item>
      
            </div>
      
            <!-- Client and Driver -->
            <ion-label class = "phraseText" color="light" style="padding-left: 15px;"> Your private informations: </ion-label>
      
            <ion-item>
                <ion-label color="light">
                  Email
                  <p>{{this.email}}</p>
                </ion-label>
               <ion-icon name="mail" color="primary" slot="start"></ion-icon>
              </ion-item>
      
            <ion-item>
              <ion-label color="light">
                Name
                <p>{{this.name}}</p>
              </ion-label>
             <ion-icon name="person" color="primary" slot="start"></ion-icon>
             <ion-icon name="create" color ="light" (click) = "changeName()" slot ="end"></ion-icon>
            </ion-item>
      
            <ion-item>
                <ion-label color="light">
                  Phone Number
                  <p>{{this.phoneNumber}}</p>
                </ion-label>
                <ion-icon name="call" color="primary" slot="start"></ion-icon>
                <ion-icon name="create" color ="light" (click) = "changePhoneNumber()" slot ="end"></ion-icon>
            </ion-item>
      
            <ion-item>
                <ion-label color="light">
                  Country
                  <p>{{this.country}}</p>
                </ion-label>
                <ion-icon name="flag" color="primary" slot="start"></ion-icon>
                <ion-icon name="create" color ="light" (click) = "changeCountry()" slot ="end"></ion-icon>
            </ion-item>
      
            <div id = "onlyClients" *ngIf="userService.userType === 'client'" >
            <ion-label class = "phraseText" color="light" style="padding-left: 15px;"> Predefined addresses to use when placing a package: </ion-label>
            
            <ion-item>
              <ion-label color = "light">
                <p>{{this.address1}}</p>
              </ion-label>
              <ion-icon name="home" color="tertiary" slot="start" ></ion-icon>
              <ion-icon name="create" color ="light"  (click) = "changeAddress1()" slot ="end"></ion-icon>
            </ion-item>
            
            <ion-item>
                <ion-label color = "light">
                  <p>{{this.address2}}</p>
                </ion-label>
                <ion-icon name="home" color="tertiary" slot="start" ></ion-icon>
                <ion-icon name="create" color ="light"  (click) = "changeAddress2()" slot ="end"></ion-icon>
            </ion-item>

            <ion-item>
                <ion-label color = "light">
                  <p>{{this.address3}}</p>
                </ion-label>
                <ion-icon name="home" color="tertiary" slot="start" ></ion-icon>
                <ion-icon name="create" color ="light"  (click) = "changeAddress3()" slot ="end"></ion-icon>
              </ion-item>
              
              <ion-item>
                  <ion-label color = "light">
                    <p>{{this.address4}}</p>
                  </ion-label>
                  <ion-icon name="home" color="tertiary" slot="start" ></ion-icon>
                  <ion-icon name="create" color ="light"  (click) = "changeAddress4()" slot ="end"></ion-icon>
              </ion-item>

              <ion-item>
                  <ion-label color = "light">
                    <p>{{this.address5}}</p>
                  </ion-label>
                  <ion-icon name="home" color="tertiary" slot="start" ></ion-icon>
                  <ion-icon name="create" color ="light"  (click) = "changeAddress5()" slot ="end"></ion-icon>
              </ion-item>


            </div>
            <ion-button id="passwordbutton" size="large" expand="block" color = "success" (click)="changePassword()"   type = "submit" value="Reset Password">Reset Password</ion-button>

            </ion-card>
      
  </ion-content>
  