<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME - CLIENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid id="myNotifications">
    
    <ion-row>
      <ion-col id = "notificationsList">
        <ion-card id = "ion-card-id-package" *ngFor="let notification of notifications">
          <ion-card-content>
            <ion-item id = "notificationListItem" lines="none" color="blue">
                <ion-card-content>
                  <ion-text class ="textForm"> 
                    Your package "{{notification.namePackage}}" has the status: Ready
                  </ion-text>
                </ion-card-content>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>



  </ion-grid>
  
</ion-content>
